#analogClock_container{
	height:40vh;
	width:40vh;
	background: url("myclock.png")no-repeat;
	background-size:100%;
	position: relative;
	margin: auto;
}
#hour,#minutes,#seconds{
	
    position: absolute;
    
    border-radius: 10px;
    transform-origin: bottom;
	
}
#hour{
	width: 2%;
    height: 27%;
    right: 48.7%;
    top: 24%;
    opacity: 0.7;
	background: #ff0000;
	
}
#minutes{
	width: 2%;
    height: 30%;
    right: 48.7%;
    top: 20%;
    opacity: 0.6;
	background: #2196f3;
}
#seconds{
	width: 1%;
    height: 34%;
    right: 48.7%;
    top: 17%;
    opacity: 0.6;
	background: #000;
}